body {
    margin: 0 auto;
    line-height: normal;
    display: block;
    box-sizing: border-box;
}

.frame-child {
    width: 945px;
    position: relative;
    height: 1024px;
    object-fit: cover;
}
.create-an-account {
    align-self: stretch;
    position: relative;
}
.volunteer {
    position: relative;
    font-weight: 600;
}
.volunteer-wrapper {
    width: 209px;
    border-radius: 9px;
    background-color: #ff466e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.organizer-wrapper {
    width: 208px;
    border-radius: 9px;
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #1e1e1e;
}
.frame-group {
    align-self: stretch;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    text-align: left;
    font-size: 14px;
    color: #fff;
}
.create-an-account-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 48px;
    text-align: center;
}
.email {
    position: relative;
}
.email-wrapper {
    align-self: stretch;
    border-radius: 9px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 10px;
}
.first-name-wrapper {
    width: 209px;
    border-radius: 9px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 10px;
    box-sizing: border-box;
}
.frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 29px;
}
.frame-item {
    width: 8px;
    position: relative;
    border-radius: 50%;
    background-color: #ff466e;
    height: 8px;
}
.ellipse-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.frame-inner {
    width: 8px;
    position: relative;
    border-radius: 50%;
    background-color: #d9d9d9;
    height: 8px;
}
.frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 205px;
    text-align: center;
}
.nomor-handphone-wrapper {
    width: 328px;
    border-radius: 9px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 10px;
    box-sizing: border-box;
}
.mdieye-icon {
    width: 14px;
    position: relative;
    height: 14px;
}
.password-parent {
    width: 447px;
    border-radius: 9px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 10px;
    box-sizing: border-box;
    gap: 345px;
}
.frame-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.rectangle-icon {
    width: 10px;
    position: relative;
    border-radius: 1px;
    height: 10px;
}
.privacy-policy {
    font-weight: 600;
    color: #ff466e;
}
.vector-parent {
    width: 328px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 10px;
}
.create-an-account-wrapper {
    align-self: stretch;
    border-radius: 9px;
    background-color: #ff466e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
}
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
}
.sign-in {
    color: #ff466e;
}
.already-have-an-account-sign-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    font-size: 12px;
}
.frame-parent {
    width: 447px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.frame-wrapper {
    width: 975px;
    border-radius: 32px 0px 0px 32px;
    background-color: #fff;
    height: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 194px 129px;
    box-sizing: border-box;
}
.rectangle-parent {
    width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sigin-up-page-volunteer {
    align-self: stretch;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sigin-up-page-volunteer-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 48px;
    color: #1e1e1e;
    font-family: Manrope;
}

